In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
plt.style.use('ggplot')
import os
os.chdir("/content/drive/My Drive/ibm project")

In [2]:
data = pd.read_csv('LoanApprovalPrediction.csv')
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            598 non-null    object
 1   Gender             598 non-null    object
 2   Married            598 non-null    object
 3   Dependents         586 non-null    float64
 4   Education          598 non-null    object
 5   Self_Employed      598 non-null    object
 6   ApplicantIncome    598 non-null    int64
 7   CoapplicantIncome  598 non-null    float64
 8   LoanAmount         577 non-null    float64
 9   Loan_Amount_Term   584 non-null    float64
 10  Credit_History     549 non-null    float64
 11  Property_Area      598 non-null    object
 12  Loan_Status        598 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 60.9+ KB

In [4]:
data.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           12
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           21
Loan_Amount_Term     14
Credit_History       49
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
data.fillna(method='ffill',inplace=True)

In [6]:
data.fillna(method='bfill',inplace=True)

In [7]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [8]:
mylist_train = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Credit_History', 'Property_Area' , 'Loan_Status']

In [9]:
for i in mylist_train:
    data[i] = data[i].astype({i:'category'})

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            598 non-null    object
 1   Gender             598 non-null    category
 2   Married            598 non-null    category
 3   Dependents         598 non-null    category
 4   Education          598 non-null    category
 5   Self_Employed      598 non-null    category
 6   ApplicantIncome    598 non-null    int64
 7   CoapplicantIncome  598 non-null    float64
 8   LoanAmount         598 non-null    float64
 9   Loan_Amount_Term   598 non-null    float64
 10  Credit_History     598 non-null    category
 11  Property_Area      598 non-null    category
 12  Loan_Status        598 non-null    category
dtypes: category(8), float64(3), int64(1), object(1)
memory usage: 29.2+ KB

In [11]:
data['Loan_Status'].value_counts(normalize=True)*100

Y    68.729097
N    31.270903
Name: Loan_Status, dtype: float64

In [12]:
data['Gender'] = data['Gender'].replace({'Male':0, 'Female':1})

In [13]:
data['Married'] = data['Married'].replace({'Yes' :1, 'No': 0})

In [14]:
data['Education'] = data['Education'].replace ({'Graduate' : 1,'Not Graduate' : 0})

In [15]:
data['Self_Employed'] = data['Self_Employed'].replace ({'Yes': 1, 'No':0})

In [16]:
data['Property_Area'] = data['Property_Area'].replace ({'Semiurban': 1,'Urban' : 0,'Rural':2})

In [17]:
data['Loan_Status'] = data['Loan_Status'].replace({'Y':1, 'N':0})

In [18]:
data = data.drop(columns=['Loan_ID'])

### **Splitting our data into training and testing**

In [19]:
X_train = data.drop(columns=['Loan_Status'])

In [20]:
y_train = data['Loan_Status']

# **KNeighbors Classifier**

In [21]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()

In [22]:
knn.fit(X_train,y_train)

KNeighborsClassifier()

In [23]:
knn.score(X_train,y_train)

0.7341137123745819